* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

main{
    display: flex;
}

section{
    width: 40vw;
    margin: auto;
}

div.nota{
    width: 50vw;
    margin: auto;
    margin-top: 20px;   
    background-color: bisque; 
    padding: 20px;
}